
[V200R007C10SPC300]
#
 set memory-usage threshold 0
#
ssl renegotiation-rate 1 
#
vlan batch 10 20 30 40 50 60 100 201
#
authentication-profile name default_authen_profile
authentication-profile name dot1x_authen_profile
authentication-profile name mac_authen_profile
authentication-profile name portal_authen_profile
authentication-profile name macportal_authen_profile
#
dhcp enable
#
diffserv domain default
#
radius-server template default
#
pki realm default
 rsa local-key-pair default
 enrollment self-signed
#
ike proposal default
 encryption-algorithm aes-256 
 dh group14 
 authentication-algorithm sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
#
free-rule-template name default_free_rule
#
portal-access-profile name portal_access_profile
#
aaa
 authentication-scheme default
 authentication-scheme radius
  authentication-mode radius
 authorization-scheme default
 accounting-scheme default
 domain default
  authentication-scheme radius
  radius-server default
 domain default_admin
  authentication-scheme default
 local-user admin password irreversible-cipher $1a$8-#U80x|jQ${^lhB\ZYM,nEsM>73gULJ_%@Xwt043(&gB0l4}@"$
 local-user admin privilege level 15
 local-user admin service-type http
#
interface Vlanif10
 dhcp select global
#
interface Vlanif201
 ip address 8.8.8.2 255.255.255.252
 dhcp select interface
#
interface MEth0/0/1
 undo negotiation auto
 duplex half
#
interface GigabitEthernet0/0/1
 port link-type access
 port default vlan 201
#
interface GigabitEthernet0/0/2
#
interface GigabitEthernet0/0/3
#
interface GigabitEthernet0/0/4
#
interface GigabitEthernet0/0/5
#
interface GigabitEthernet0/0/6
#
interface GigabitEthernet0/0/7
#
interface GigabitEthernet0/0/8
#
interface GigabitEthernet0/0/9
#
interface GigabitEthernet0/0/10
#
interface GigabitEthernet0/0/11
#
interface GigabitEthernet0/0/12
#
interface GigabitEthernet0/0/13
#
interface GigabitEthernet0/0/14
#
interface GigabitEthernet0/0/15
#
interface GigabitEthernet0/0/16
#
interface GigabitEthernet0/0/17
#
interface GigabitEthernet0/0/18
#
interface GigabitEthernet0/0/19
#
interface GigabitEthernet0/0/20
#
interface GigabitEthernet0/0/21
 undo negotiation auto
 duplex half
#
interface GigabitEthernet0/0/22
 undo negotiation auto
 duplex half
#
interface GigabitEthernet0/0/23
 undo negotiation auto
 duplex half
#
interface GigabitEthernet0/0/24
 undo negotiation auto
 duplex half
#
interface XGigabitEthernet0/0/1
#
interface XGigabitEthernet0/0/2
#
interface NULL0
#
ospf 1
 area 0.0.0.1
  network 8.8.8.0 0.0.0.3
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
ssh server secure-algorithms cipher aes256_ctr aes128_ctr
ssh server key-exchange dh_group14_sha1
ssh client secure-algorithms cipher aes256_ctr aes128_ctr
ssh client secure-algorithms hmac sha2_256
ssh client key-exchange dh_group14_sha1
#
ip route-static 192.168.1.192 255.255.255.224 8.8.8.1
#
capwap source interface vlanif201
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
 protocol inbound all
user-interface vty 16 20
 protocol inbound all
#
wlan
 traffic-profile name default
 security-profile name sec
  security wpa-wpa2 psk pass-phrase %^%#%omW.g,HWYw)3pJ!W$0)jZ|`2H|ZU@VL[#/t4M>"%^%# aes
 security-profile name default
 security-profile name default-wds
 security-profile name default-mesh
 ssid-profile name sec
  ssid sec_net
 ssid-profile name default
 vap-profile name s
 vap-profile name sec
  service-vlan vlan-id 20
  ssid-profile sec
  security-profile sec
 vap-profile name default
 wds-profile name default
 mesh-handover-profile name default
 mesh-profile name default
 regulatory-domain-profile name default
  country-code EG
 air-scan-profile name default
 rrm-profile name default
 radio-2g-profile name default
 radio-5g-profile name default
 wids-spoof-profile name default
 wids-profile name default
 wireless-access-specification
 ap-system-profile name default
 port-link-profile name default
 wired-port-profile name default
 serial-profile name preset-enjoyor-toeap 
 ap-group name vlan10
  radio 1
   vap-profile sec wlan 1
 ap-group name vlan20
  radio 1
   vap-profile sec wlan 1
 ap-group name vlan30
  radio 1
   vap-profile sec wlan 1
 ap-group name vlan40
  radio 1
   vap-profile sec wlan 1
 ap-group name vlan50
  radio 1
   vap-profile sec wlan 1
 ap-group name vlan60
  radio 1
   vap-profile sec wlan 1
 ap-group name default
 ap-id 1 type-id 61 ap-mac 00e0-fcfc-2410 ap-sn 2102354483100F439E73
  ap-name vlan10
  ap-group vlan10
 ap-id 2 type-id 61 ap-mac 00e0-fce8-0f60 ap-sn 210235448310A07BCB6C
  ap-name vlan20
  ap-group vlan20
 ap-id 3 type-id 61 ap-mac 00e0-fc3e-7200 ap-sn 210235448310FB79AE50
  ap-name vlan30
  ap-group vlan30
 ap-id 4 type-id 61 ap-mac 00e0-fc55-6240 ap-sn 210235448310076F5414
  ap-name vlan40
  ap-group vlan40
 ap-id 5 type-id 61 ap-mac 00e0-fcd9-5b60 ap-sn 2102354483104C807C5E
  ap-name vlan50
  ap-group vlan50
 ap-id 6 type-id 61 ap-mac 00e0-fccc-13c0 ap-sn 2102354483102755E553
  ap-name vlan60
  ap-group vlan60
 provision-ap
#
dot1x-access-profile name dot1x_access_profile
#
mac-access-profile name mac_access_profile
#
return