
[V200R003C00]
#
 board add 0/2 2SA 
 board add 0/3 2SA 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
router id 5.5.5.5 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
dhcp enable
#
ip pool vlan1000
 gateway-list 192.168.3.1 
 network 192.168.3.0 mask 255.255.255.128 
 dns-list 192.168.3.1 
#
ip pool vlan2000
 gateway-list 192.168.3.129 
 network 192.168.3.128 mask 255.255.255.192 
 dns-list 192.168.3.129 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface Serial2/0/0
 link-protocol ppp
#
interface Serial2/0/1
 link-protocol ppp
#
interface Serial3/0/0
 link-protocol ppp
 ip address 50.0.0.1 255.255.255.0 
#
interface Serial3/0/1
 link-protocol ppp
#
interface GigabitEthernet0/0/0
#
interface GigabitEthernet0/0/0.100
#
interface GigabitEthernet0/0/0.1000
 dot1q termination vid 1000
 ip address 192.168.3.1 255.255.255.128 
 arp broadcast enable
 dhcp select global
#
interface GigabitEthernet0/0/0.2000
 dot1q termination vid 2000
 ip address 192.168.3.129 255.255.255.192 
 arp broadcast enable
 dhcp select global
#
interface GigabitEthernet0/0/1
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
interface LoopBack0
 ip address 5.5.5.5 255.255.255.255 
#
bgp 30
 peer 50.0.0.4 as-number 10 
 #
 ipv4-family unicast
  undo synchronization
  network 0.0.0.0 
  network 5.0.0.0 
  network 5.5.5.5 255.255.255.255 
  network 192.168.3.0 255.255.255.128 
  network 192.168.3.128 255.255.255.192 
  peer 50.0.0.4 enable
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return